<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
    <title>WLOB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' type="text/css">
</head>

<body>
    <h1>WLOB!</h1>
    <img src="https://formaspace.com/wp-content/uploads/2016/05/Work-Space-Built-Into-fixed-Casework-1200x630.jpg" alt="wl" width="300px"><br>
    <img src="https://www.saturnrafts.com/images/detailed/5/inflatable_boat_SD290Y_1.jpg" alt="ob" width="300px">

    <form action="/task" method="post">
        <input type="submit" value="NEW TASK">
    </form>
</body>
</html>
